*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
    min-height:100vh;
    background: linear-gradient(135deg, #E0D2C7, #44B09E);
    padding:50px;
}

.grades-app{
    width:100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px; 
}


